{% extends 'base.html' %}
{% load crispy_forms_tags %}
{#to use crispy tags to filter we need to load#}
{% block content %}
    <div class="card">
        <div class="card-header"
             style="color: #f58c83; border-top: #f58c83 5px solid; border-bottom: #f5c1bd 2px solid">
            <h4>Log-In</h4>
        </div>
        <div class="card-body">
            {#            <h5 class="card-title" style="color: #f58c83">Register</h5>#}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div>{{ form|crispy }}</div>
                    <button type="submit" class="btn btn-outline-primary"
                            style="background-color: #f58c83; color: whitesmoke; border: #f58c83 ">Reset Password
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}